body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 164, 11);
}

.arvore{
    margin-top: 50px;
    position: fixed;
    left: 0;
    width: 445px;
}

.cobra{
    position: fixed;
    right: 50px;
    width: 150px;
    bottom: 100px;
    
}
